<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
<!-- some ideas
    <%INCLUDE file="bla/blub/blorg.xml"/>
    <%INCLUDE url="bla/blub/blorg.xml"/>
-->
<DEF>
<!-- some ideas
    <%ALIAS id="LengthEncodedTCPSocketHandler" class="net.gtamps.server.xsocket.LengthEncodedTCPSocketHandler"/>
    <%ALIAS id="LineBasedTCPSocketHandler" class="net.gtamps.server.xsocket.LengthEncodedTCPSocketHandler"/>
    <%ALIAS id="CompressedObjectSerializer" class="net.gtamps.shared.serializer.communication.CompressedObjectSerializer"/>
-->
</DEF>
<COMMON>
	<SETUP>
        <GAMESERVER port="8095" protocol="tcp">
			    <SOCKETHANDLER class="net.gtamps.server.xsocket.LengthEncodedTCPSocketHandler"/>
			    <SERIALIZER class="net.gtamps.shared.serializer.communication.CompressedObjectSerializer"/>
        </GAMESERVER>
        <HTTPSERVER port="8080" docroot="../assets/kompilat/"/>
        <GUI>
        	<LOOKANDFEEL name="nimbus"/> <!--things to try: Metal Nimbus CDE/Motif -->
        	<!-- or java cmd line:  -Dswing.defaultlaf=com.sun.java.swing.plaf.nimbus.NimbusLookAndFeel -->
        </GUI>
	</SETUP>
</COMMON>
<SERVER>
	<SETUP>
		<SESSIONHANDLER maxSessions="0"/>
		<CONTROL maxGames="0" maxPlayers="0"/>
	</SETUP>
</SERVER>
<ANDROID>
    <!-- some ideas
    <%IMPORT key="server.setup.gameserver" as="setup.gameserver"/>
    <%IMPORT key="^.setup.gameserver" as="setup.gameserver"/>
    -->
</ANDROID>
</CONFIG>
