<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
<SERVER>
	<SETUP>
        <GAMESERVER port="8095" protocol="tcp">
			    <SOCKETHANDLER class="net.gtamps.server.xsocket.LengthEncodedTCPSocketHandler"/>
			    <SERIALIZER class="net.gtamps.shared.serializer.communication.CompressedObjectSerializer"/>
        </GAMESERVER>
        <HTTPSERVER port="8080" docroot="../assets/kompilat/"/>
		<SESSIONHANDLER maxSessions="0"/>
		<CONTROL maxGames="0" maxPlayers="0"/>
	</SETUP>
</SERVER>
</CONFIG>
