*.apk
*.gif
*.wav
*.mp3
*.ogg
*.apk.*
gen
bin
/out/
*.iws
workspace.xml
dataSources.xml
sqlDataSources.xml
dynamic.xml
.project
.classpath
proguard.cfg
default.properties
*.class
.metadata
*.dex
/cloc-1.55.exe
